@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Poppins:ital,wght@0,700;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ===== COLORS ===== */

:root{
    --pink: hsl(322, 100%, 66%);
    --lightpink: hsl(321, 100%, 78%);
    --lightred: hsl(0, 100%, 63%);
    --verydarkcyan: hsl(192, 100%, 9%);
    --verypaleblue: hsl(207, 100%, 98%);
    --grey: #9EA5AD;
}

/* ===== GENERAL STYLES ===== */ 

body{
    font-family: 'Open Sans', sans-serif;
    width: 100vw;
}

h1{
    font-family: 'Poppins', sans-serif;
    line-height: 2.25rem;
    padding-bottom: 2rem;
    width: 100%;
}

h2{
    font-size: 4rem;
}

h3{
    padding-bottom: 1.5rem;
}

p{
    font-weight: 400;
    font-size: 0.9rem;
}

/* ===== BUTTONS AND FORMS ===== */

button,
input[type="submit"]{
    border-radius: 20px;
    padding: 0.75rem 2rem 0.75rem 2rem;
    background-color: var(--pink);
    border: none;
    color: white;
}

button:hover,
input[type="submit"]:hover{
    background-color: var(--lightpink);
}

header button{
    padding: 0.25rem 1rem 0.25rem 1rem;
    background-color: white;
    border: var(--pink) 1px solid;
    color: var(--pink);
    text-transform: capitalize;
}

header button:hover{
    border: var(--lightpink) 1px solid;
    color: var(--lightpink);
    background-color: inherit;
}

.welcome button,
.ready-to-build button{
    box-shadow: 5px 5px 15px -10px #000000;
    max-width: 350px;
}

form{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: right;
}

input[type="email"]{
    display: block;
    width: 100%;
    border-radius: 5px;
    padding: 0.75rem 2rem 0.75rem 2rem;
    border: none
}

input:focus {
    outline: 2px solid var(--pink);
}

input:invalid {
    outline: 2px solid rgb(201, 26, 26);
}

input[type="submit"]{
    border-radius: 5px;
}

/* ===== ARTICLE BRIDGES ===== */

.bridge{
    position: relative;
    min-height: 158px;
}

img.big-top{
    width: 100%;
    position: absolute;
    bottom: 0;
}

img.mobile-top,
img.mobile-bottom{
    display: none;
}

img.big-bottom{
    width: 100%;
    position: absolute;
    top: 0;
}

/* ===== HEADER ===== */

header{
    display: flex;
    justify-content: space-between;
    padding: 30px 20px 15vh 20px;
}

.logo img{
    max-width: 30vw;
}

/* ===== SECTION - WELCOME ===== */

.welcome{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 100px 20px;
}

.welcome img{
    max-width: 75vw;
    padding: 100px 0 0 0;
}

.welcome p{
    width: 100%;
    padding-bottom: 60px;
    max-width: 420px;
}

.welcome article{
    width: 60%;
    text-align: left;
}

.welcome article img{
    width: 40px;
}

/* ===== SECTION - FACTS ===== */

.facts{
    display: flex;
    width: min-content;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.facts article{
    width: 100%;
}

.facts article:not(.facts article:nth-last-of-type(1)){
    padding-bottom: 80px;
}

.facts img{
    width: 30px;
}

.facts p{
    color: var(--grey);
    text-align: center;
}

/* ===== SECTION - REASONS WHY ===== */

.reasons-why article{
    width: 100%;
    text-align: center;
    padding: 80px 20px 80px 20px;
}

.reasons-why article img{
    width: 80vw;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 70px;
}

.reasons-why article:nth-of-type(odd){
    background-color: var(--verypaleblue);
}

.reasons-why div.wrapper{
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

/* ===== SECTION - READY TO BUILD... ===== */

.ready-to-build{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.ready-to-build h2{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

/* ===== FOOTER ===== */

footer{
    color: white;
    background-color: var(--verydarkcyan);
    padding: 30px 30px 0 30px;
}

footer h2{
    font-size: 2rem;
    text-transform: uppercase;
    padding-bottom: 1rem;
}

footer p{
    padding-bottom: 3rem;
}

.about-huddle img{
    padding: 6rem 0 1rem 0;
}

.about-huddle .contact {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.about-huddle .contact div{
    display: flex;
    width: 100%;
    align-items: baseline;
}

.about-huddle .contact img{
    padding: 0 20px 0 0;
}

.about-huddle .contact p{
    padding-bottom: 1rem;
    display: inline-block;
}

.about-huddle .contact a{
    color: white;
    text-decoration: none;
}

.about-huddle .contact a:hover{
    text-decoration: underline;
}

.about-huddle .social-media{
    display: flex;
    gap: 20px;
    padding: 60px 0 60px 0;
}

.about-huddle .social-media img{
    width: 25px;
    padding: unset;
}

/* ===== FRONTEND MENTOR FOOTER ===== */

.attribution {
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* ===== MEDIA QUERIES ===== */

/* ----- SMALL DEVICES – MIN. WIDTH 769 PX ----- */

@media (min-width: 768px){
    body{
        background-color: red;
    }

    .facts{
        flex-wrap: unset;
        gap: 100px;
    }
    img.big-top{
        display: block;
        width: 100%;
        position: absolute;
        bottom: 0;
    }
    img.mobile-top,
    img.mobile-bottom{
        display: none;
    }
    img.big-bottom{
        display: block;
        width: 100%;
        position: absolute;
        top: 0;
    }
}